:root {
  --primary-color: #7996bf;
  --secondary-color: #db4e0b;
  --text: #f8f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: var(--primary-color);
  padding: 3px;
  margin: 3px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-color);
  padding: 10px 15px 5px 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
  font-size: 45px;
  padding: 5px 0 0 0;
}

header img {
  height: 45px;
  width: 45px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 30px;
}

header nav ul li {
  padding: 15px 15px;
  color: var(--link);
}

.hero {
  height: 400px;
  width: 100%;
  background-image: url(./images/hero5.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  color: #f8f2f2;
  text-shadow: 2px 2px black;
  padding: 100px 100px 0px 100px;
}

.hero p {
  padding: 20px;
  margin-bottom: 15px;
  color: var(--text);
  font-weight: bold;
  text-align: center;
  color: var(--link);
}

.hero img {
  position: relative;
}

.about {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.about img {
  height: 100px;
  width: 100px;
}

.about p {
  max-width: 800px;
  font-size: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 25px 40px;
}

