:root {
  --primary-color: #7996bf;
  --secondary-color: #db4e0b;
  --text: #f8f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-color);
  padding: 10px 15px 5px 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
  font-size: 45px;
  padding: 5px 0 0 0;
}

header img {
  height: 45px;
  width: 45px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 30px;
}

header nav ul li {
  padding: 15px 15px;
  color: var(--link);
}

.hero {
  height: 600px;
  width: 100%;
  background-image: url(./images/hero5.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f8f2f2;
  text-shadow: 2px 2px black;
  padding: 200px 100px 0px 100px;
}

.hero p {
  padding: 20px;
  color: var(--text);
  font-weight: bold;
  color: var(--link);
  text-align: center;
}

.hero img {
  position: relative;
}

.main {
  width: 90%;
  display: inline-block;
}

.main h2 {
  text-align: center;
  text-decoration: underline;
}

.about p {
  text-align: center;
}

.about,
.projects {
  width: 80%;
  margin: 15px 10px 10px 20px;
  padding: 5px 5px 5px 5px;
  
  flex-wrap: wrap;
}

.projects img {
  height: 200px;
  width: 300px;
}

.contact {
  display: flex;
  flex-direction: flex;
  justify-content: space-evenly;
}

.contact a {
  color: var(--link);
}
