:root {
  --primary-color: #7996bf;
  --secondary-color: #db4e0b;
  --text: #f8f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-color);
  padding: 30px 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  padding: 15px;
}

footer {
  background: var(--primary-color);
  padding: 30px;
}

.hero {
  background-image: url(./images/hero3.jpg);
  background-size: cover;
  text-align: center;
  background-position: 80%;
  padding: 100px;
}

.hero p {
  padding: 20px;
  color: var(--text);
  font-weight: bold;
}

main {
  flex-direction: column;
  margin: 20px;
}

main div {
  margin: 15px 0px;
}

main h2 {
  font-size: 35px;
  border-bottom: 3px solid var(--primary-color);
  width: 10%;
  justify-content: center;
}
